.wishlist_products {
    padding: 1rem;
}

.wishlist_products_div {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    }

.all_wishlist_products {
    display: flex;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;
    z-index: -1;
    padding: 2rem;
    background-color: var(--bg-color);
}


